{% load static %}
<!DOCTYPE html> 
<html>
<link rel="stylesheet" type="text/css" href="{% static 'Home/styleHomes.css' %}">
<script src="{% static 'Home/Home_script.js' %}"></script>
  
  <head>
    <ul>
    <li><a class="active" href="/Home/">Home</a></li>
    <li><a href="/pOOP/">Generator</a></li>
    <li><a href="/Python/">Python</a></li>
    <li><a href="/CPP/">C++</a></li>
    <li><a href="/Java/">Java</a></li>
    </ul>

    <title>Home Page</title>
  </head>

  <body>
    <h1 padding: 10px 50px 10px 50px;> Object-Oriented Programming </h1>
    <div id="row">
      <div  id="description">
        
          <p>
            Welcome to our Viking Hacks 2022 project. This is a 
          website that aims at being a knowledge source for Object 
          Oriented Programming (OOP), <strong>unifying</strong> all the different 
          languages information into one quick and easy page.
          </p>
          <p>
            There is one page describing OOP in general, 
          describing what it looks like, what it does, and the pros and cons
          of it.
          </p>
          <p>
            The next three pages talk about what OOP looks like in the different
            languages, going through syntax and any different behaviors that
            the language might have.
          </p>
        

      </div>
      
    </div>
  </body>
  <footer>
    Project by: Edwin Villalpando, Lemuel Sumardy, Ryan Ardalan, Thomas Yeoh, Tyler Osbey
</footer>
</html>