{% load static %}
<!DOCTYPE html> 
<html>
<link rel="stylesheet" type="text/css" href="{% static 'Home/styleHomes.css' %}">
<script src="{% static 'Home/Home_script.js' %}"></script>
  
  <head>
    <ul>
    <li><a class="active" href="/Home/">Home</a></li>
    <li><a href="/pOOP/">Generator</a></li>
    <li><a href="/Python/">Python</a></li>
    <li><a href="/CPP/">C++</a></li>
    <li><a href="/Java/">Java</a></li>
    </ul>

    <title>Python</title>
  </head>
  <h1> Object Oriented Programming in Python </h1>
  <body>
  <p> Python, like Java and C++, is an object oriented, high-level programming language. Pythons high level and dynamic purpose give it the ability to perform multiple tasks. It can be used to develop websites and software, task automation, data analysis, and data visualization. Additionally, Python’s simple and easy to learn syntax makes great for a beginner language and reduces the strain often found in program maintenance.
</p>
<p>
  In object oriented programming, Python incorporates the use of classes and objects in programming. It aims to implement real-world entities like inheritance, polymorphisms, and encapsulation while maintaining its simplistic format. 
</p>
  </body>
  <br>
    <footer>
    Project by: Edwin Villalpando, Lemuel Sumardy, Ryan Ardalan, Thomas Yeoh, Tyler Osbey
</footer>