{% load static %}
<!DOCTYPE html> 
<html>
<link rel="stylesheet" type="text/css" href="{% static 'Home/styleHomes.css' %}">
<script src="{% static 'Home/Home_script.js' %}"></script>
  
  <head>
    <ul>
    <li><a class="active" href="/Home/">Home</a></li>
    <li><a href="/pOOP/">pOOP</a></li>
    <li><a href="/Python/">Python</a></li>
    <li><a href="/CPP/">C++</a></li>
    <li><a href="/Java/">Java</a></li>
    </ul>

    <title>C Plus Plus</title>
  </head>

<body>
  <h1> Object Oriented Programming in C++ </h1>
  <p> C++ Benefits from its extensive use of Object Oriented Programming. </p>
</body>