{% load static %}
<!DOCTYPE html> 
<html>
<link rel="stylesheet" type="text/css" href="{% static 'Home/styleHomes.css' %}">
<script src="{% static 'Home/Home_script.js' %}"></script>
  
  <head>
    <ul>
    <li><a class="active" href="/Home/">Home</a></li>
    <li><a href="/pOOP/">Generator</a></li>
    <li><a href="/Python/">Python</a></li>
    <li><a href="/CPP/">C++</a></li>
    <li><a href="/Java/">Java</a></li>
    </ul>

    <title>C Plus Plus</title>
  </head>

<body>
  <h1> Object Oriented Programming in C++ </h1>
  <p> C++ is one of the most popular programming languages in the world, with multi-platform support, easy to learn syntax and structure, and high levels of control over resources. It is very similar to Java, making both programs easy to swap between once one has been mastered. C++ benefits from its extensive use of Object Oriented Programming, as it is widely used in the creation of high-performance applications, operating systems, and GUIs. </p>
<p>
  As an object oriented programming language, C++ contains classes and objects which can contain multiple variables and functions within them to simplify code and reduce repetition following the DRY (Don't Repeat Yourself) principle of object oriented programming that both Python and Java also follow.
</p>
</body>
  <footer>
    Project by: Edwin Villalpando, Lemuel Sumardy, Ryan Ardalan, Thomas Yeoh, Tyler Osbey
</footer>