{% load static %}
<!DOCTYPE html> 
<html>
<link rel="stylesheet" type="text/css" href="{% static 'Home/styleHomes.css' %}">
<script src="{% static 'Home/Home_script.js' %}"></script>
  
  <head>
    <ul>
    <li><a class="active" href="/Home/">Home</a></li>
    <li><a href="/pOOP/">pOOP</a></li>
    <li><a href="/Python/">Python</a></li>
    <li><a href="/CPP/">C++</a></li>
    <li><a href="/Java/">Java</a></li>
    </ul>

    <title>Java</title>
  </head>

<body>
  <h1> Object Oriented Programming in Java</h1>
  <p> Unlike C++, Java does not have header files XXXXXX. Instead, Java is much more class oriented. This means that all files, including the main file, are essentially classes</p>
  <p> In Java, every class contains attributes and methods. Attributes are properties that every object of the class contains. And like C++, these attribures can be set to public or private, or even constant ()</p>
</body>