{% load static %}
<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="{% static 'pOOP/style.css' %}">
<script src="{% static 'pOOP/script.js' %}"></script>
  

<head>
  
  <ul>
  <li><a class="active" href="/Home/">Home</a></li>
  <li><a href="/pOOP/">Generator</a></li>
  <li><a href="/Python/">Python</a></li>
  <li><a href="/CPP/">C++</a></li>
  <li><a href="/Java/">Java</a></li>
  </ul>
  
  <title>Setter & Getter</title>
</head>


<body>
  <div>
    <h1>Setter & Getter Generator</h1>
  </div>
  <div id="top-input">
    <select name="language" id="language">
      <option value="python">Python</option>
      <option value="c++">C++</option>
      <option value="java">Java</option>
    </select> 
    <div id="input-buttons">
      <button type="button" onclick="addInput()" id="plus">+</button>
      <button type="button" onclick="removeInput()">-</button>
    </div>
  </div>
  <br><br>
  <div>
    <table id="inputs">
      <tr>
        <th>Variable Name</th>
        <th>Variable Type</th>
      </tr>
      <tr id="input">
        <th><input type="text" id="vname0" name="vname"></th>
        <th><input type="text" id="vtype0" name="vtype"></th>
      </tr>
    </table>
  </div>
  <div id="button-div"> 
    <button type="button" onclick="test()" id="button">Submit</button>
    <button onclick="copy()">Copy text</button>
    <br><br>
  </div>
<!--   <pre><code> -->
  <div id="textarea">
    <textarea disabled id="output" name="output">Your functions will appear here...
    </textarea>
  </div>
<!-- </code></pre> -->
</body>

</html>
<br>
  <footer>
    Project by: Edwin Villalpando, Lemuel Sumardy, Ryan Ardalan, Thomas Yeoh, Tyler Osbey
</footer>